openapi: 3.1.0

info:
  title: ProAgentStore API
  description: |
    REST API for ProAgentStore — server-powered AI agents on Cloudflare Workers.
    Agents are backed by Durable Objects; each user gets a personal instance with
    isolated memory, knowledge base, and message history.

    ## Auth

    Most endpoints require a Bearer token in the `Authorization` header. Obtain one by
    signing in through ProAgentStore's own OAuth (`GET /v1/auth/google/start` or
    `GET /v1/auth/github/start`, which redirect back with a `session` token), or via
    `POST /v1/auth/github` (direct GitHub code exchange).

    Four credentials appear in this document and they are **not** interchangeable:

    | Credential | Where | Notes |
    |---|---|---|
    | Session JWT | `Authorization: Bearer …` | The account token. HS256, ~30 days. Type-pinned — a relay token or an OAuth `state`, though signed with the same key, is rejected here. |
    | Relay token | `GET /v1/relay/{instanceId}/connect?token=…` | Short-lived (~10 min), minted per (re)connect by `POST /v1/relay/{instanceId}/token`, scoped to ONE instance. `/connect` accepts **only** this — never the account JWT — so a leaked relay URL cannot become account takeover. |
    | Webhook capability token | `POST /v1/triggers/webhook/{token}` | High-entropy path segment; the URL *is* the credential. No `Authorization` header. |
    | Signed résumé link | `GET /v1/instances/{instanceId}/apply-resume?uid&exp&token` | HMAC query signature so a remote runner can fetch the file without holding a session. |

    Unauthenticated endpoints are marked `security: []`: the health check, OAuth
    start/callback pairs, the public store routes, the Stripe webhook (signature-verified),
    and the inbound trigger webhook.

    Most instance-scoped routes are **owner-only** — the instance is looked up by
    `(id, user_id)` and a non-owner gets `404`, not `403`, so instance ids are not
    enumerable. Creator-only routes (`POST /v1/agents`, `/v1/agent-builder/*`) additionally
    require the `creator` role.

    ## Coverage

    This document deliberately states its own scope rather than implying completeness.
    `scripts/openapi-coverage.mjs` in the platform repo checks it against the live Hono
    route table on every change and fails on drift in either direction (an undocumented
    route, or a documented path with no handler).

    **Documented with request/response schemas** — auth, agents (CRUD, capabilities,
    settings-schema, versions, export/import, analytics, ops, deploy), chat, instances
    (subscribe, chat, messages, knowledge, board, board-config, settings, instructions,
    rename, runner-node, runtime registration, tasks), apply (`/apply`, `/input`,
    `/apply-tips`, résumé, takeover), trace, voice settings + recordings, translation,
    credentials vault, storage (collections, records, files, multipart upload, vectors,
    search, activity, memory, state), repo ingestion, tools + connectors + connections,
    triggers, relay, terminals, usage, errors, push, profile, preferences, keys,
    dashboard, notifications, batch, agent-builder, billing, GitHub App, Google Drive,
    Zoho WorkDrive, Gmail.

    **Documented at summary level** (method, path, auth, description, and a generic
    response object) — endpoints that proxy a Durable Object or a local runner and whose
    body shape is owned by that component rather than by this contract, plus the newer
    supervision, delegation and declarative-pipeline routes whose request bodies are still
    settling (epic #58). These say so in their descriptions; treat the response as an
    opaque JSON object.

    **Deliberately excluded, and not to be relied on:**

    - `/v1/admin/**` (20 operations) — the operator portal. A separate trust boundary
      (Cloudflare Access + the `admin` role), consumed only by the internal admin SPA, and
      explicitly not a stability promise: it changes without notice.
    - `/v1/instances/{id}/coding/**` (38 operations) — the Coder agent's control plane,
      driving a coding CLI as a child process on the subscriber's own machine (Claude Code
      over its structured `stream-json` interface; other engines as a raw spawn — not tmux,
      which belongs to the separate terminal-operator connector). Its shapes are coupled to the
      `@proagentstore/cli` runner version, not to this API's versioning. The `Coding` tag
      lists the route groups so you know what exists.
    - `/v1/instances/{id}/browse`, `/behaviour*`, `GET /v1/instances/behaviour-schema`
      (5 operations) — console-internal helpers.
    - Template-agent storage internals with no first-party caller — `summaries`,
      `summarize`, `users/{userId}/context`, and the two `init-collections` bootstrap
      routes (5 operations).

    That is 68 excluded operations. Everything else — 260 operations across 201 paths — is
    documented here.
  version: 1.0.0
  contact:
    url: https://proagentstore.online

servers:
  - url: https://api.proagentstore.online
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Authentication and user profile
  - name: Agents
    description: Agent CRUD, listing, and cloning
  - name: Chat
    description: Messaging, memory, tasks, state, and knowledge base for template agents
  - name: Instances
    description: User subscriptions and per-instance chat, knowledge, and lifecycle
  - name: Run
    description: Direct Workers AI execution and execution history
  - name: Keys
    description: Encrypted user API key vault and AI provider proxy
  - name: Analytics
    description: Per-agent usage analytics (owner only)
  - name: Dashboard
    description: Subscriber usage dashboard and creator aggregate stats
  - name: Notifications
    description: In-app notification inbox
  - name: Versions
    description: Agent version snapshots and rollback
  - name: Export
    description: Agent backup export and import
  - name: Public
    description: Unauthenticated store browsing, trial chat, and webhook ingestion
  - name: Billing
    description: Subscription status, Stripe Checkout, and the Stripe webhook
  - name: Apply
    description: The LLM-driven job-application pipeline — résumé, run trigger, human handoffs, learned tips
  - name: Board
    description: The per-instance kanban of runs and tickets, and its column configuration
  - name: Trace
    description: Unified run timeline — chat turns, tool calls, apply steps and errors interleaved
  - name: Voice
    description: Per-instance voice settings and saved voice-turn recordings
  - name: Translation
    description: Under-message translation and interlinear transliteration
  - name: Storage
    description: Per-agent and per-instance collections, records, files, vectors, memory, and state
  - name: Credentials
    description: Per-instance site-login vault (envelope-encrypted; secrets never listed, only revealed on request)
  - name: Tools
    description: Connector/registry tools, per-tool consent, agent-to-agent connections, loops, and delegation
  - name: Triggers
    description: Instance webhook and cron triggers, their event log, and the inbound webhook endpoint
  - name: Runtime
    description: Local-runner registration, node pinning, and the WebSocket relay
  - name: Terminals
    description: The user's connected CLIs (machines running `pags up`), across every agent
  - name: Usage
    description: Token and cost transparency across agents, models, and modalities
  - name: Errors
    description: The durable error log — server exceptions plus client-reported failures
  - name: Push
    description: Web Push subscriptions and VAPID key
  - name: Profile
    description: Structured candidate profile and job preferences
  - name: Preferences
    description: Account-wide voice and translation defaults
  - name: Connectors
    description: Generic OAuth2 connector flow, GitHub App, Google Drive, Zoho WorkDrive, and Gmail
  - name: Stats
    description: |
      Declarative per-agent stats cards and their values. A card names a source from a closed,
      owner-scoped vocabulary and never carries a query; trend cards are served from a daily
      rollup where a missing day is a GAP (`null`), never a zero.
  - name: Batch
    description: Bulk agent visibility and deletion
  - name: Agent Builder
    description: Plan and execute an AI-scaffolded agent
  - name: Coding
    description: |
      The Coder agent's control plane (repos, engines, sessions, co-pilot, overseer,
      diagnostics). **Not enumerated in this document** — see `info.description` →
      Coverage. Live surface: `GET/POST/DELETE /v1/instances/{instanceId}/coding/repos`,
      `GET/PUT …/coding/engines`, `GET/POST …/coding/sessions`, and the per-session verbs
      (`start`, `capture`, `message`, `run`, `resume`, `explain`, `timeline`, `end`,
      `restart`, `agent`), plus `…/coding/overseer`, `…/coding/work-mode`,
      `…/coding/builds`, `…/coding/status`, `…/coding/browse`, `…/coding/diagnostics`.
      All are Bearer + owner-scoped. Shapes track the `@proagentstore/cli` runner version.

      **Merge authority.** `PUT …/coding/repos/{repoId}` accepts `mergePolicy`:
      `merge` (may merge to the trunk — the default, and today's behaviour), `pr` (may open a
      pull request, never merge or push to `main`), `none` (commit only). `""` clears the repo
      override so the agent-wide `merge_policy` setting applies. Enforced on the autonomous
      Pilot: the orchestrator will not relay a merge instruction, and an observed merge the
      policy forbids halts the run and is recorded as `act.unauthorized` (`level: error`) in
      `GET …/trace`, plus a `needs_human` board card. Only a stream-json engine (Claude Code)
      reports what it ran — on a raw Codex/Grok session the observed-act half sees nothing, and
      the run note says so.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    InstanceId:
      name: instanceId
      in: path
      required: true
      description: The agent instance (subscription) id. Owner-scoped — a non-owner gets 404.
      schema:
        type: string
    AgentId:
      name: id
      in: path
      required: true
      description: Agent id (UUID) or slug.
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing, invalid, or expired Bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Not found, or not owned by the caller
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Conflicting state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PaymentRequired:
      description: Requires an active Pro subscription, or a BYOK provider key that is not configured
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unavailable:
      description: The feature is not configured on this deployment, or an upstream dependency is unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    OkObject:
      description: Success. The body is passed through from the backing Durable Object or local runner; treat it as an opaque JSON object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string

    Success:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          example: true

    ConnectorReach:
      type: object
      description: >
        How far an account-level file connector currently reaches: how many per-instance folder
        grants the user holds for it, and across how many agents. Returned by the status routes
        so a disconnect confirmation can state what it is about to revoke, and by the disconnect
        routes as what it did revoke.
      required: [grants, instances]
      properties:
        grants: { type: integer, example: 4 }
        instances: { type: integer, example: 2 }

    McpSurfaceReport:
      type: object
      description: |
        One READ surface of a remote MCP server — its resources or its prompts (#263) — as the
        connection test found it, together with what THIS agent may do with it.

        Reported apart from `gates` on purpose: these surfaces are read-scoped, so the
        connector-level write kill switch and the per-(endpoint, tool) grant do not apply to them
        at all. The only gate is the agent's declared tool allowlist, and printing a write switch
        beside a resource count would send an owner to flip something that changes nothing here.
      required: [state, count, more, listEnabled, readEnabled, detail]
      properties:
        state:
          type: string
          enum: [available, unsupported, unreadable]
          description: |
            `unsupported` is the server answering `-32601` — it publishes none, which is a correct
            answer and not a fault. `unreadable` is "we could not ask" (a rejected credential, a
            transport failure); it is kept distinct because reporting it as `unsupported` would
            claim zero resources for a server that may hold thousands, undetectably.
        count: { type: integer, description: Entries on the FIRST page, as published by the server — before any gate. }
        more: { type: boolean, description: The server paged, so `count` is a page and not a total. }
        listEnabled: { type: boolean, description: "Can this agent run the list tool (`mcp_list_resources` / `mcp_list_prompts`)?" }
        readEnabled: { type: boolean, description: "Can this agent run the read tool (`mcp_read_resource` / `mcp_get_prompt`)?" }
        detail:
          type: string
          description: |
            One actionable sentence. When a count is present but a gate is shut it names the gate
            that must be fixed FIRST, so nobody is told to enable the read tool while the list
            tool still hides the catalog.

    User:
      type: object
      properties:
        id:
          type: string
        login:
          type: string
        name:
          type: string
        avatar:
          type: string
          format: uri
        roles:
          type: array
          items:
            type: string
          example: [user, creator]
        hasSubscription:
          type: boolean
        bio:
          type: string
        website:
          type: string
        twitter:
          type: string

    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
        slug:
          type: string
          example: my-support-agent
        name:
          type: string
          example: Support Agent
        description:
          type: string
        category:
          type: string
          example: general
        store_type:
          type: string
          example: agent
        icon:
          type: string
        icon_bg:
          type: string
          example: "#7c3aed"
        model:
          type: string
          example: "@cf/meta/llama-3.2-3b-instruct"
        visibility:
          type: string
          enum: [draft, published]
        status:
          type: string
          enum: [active, inactive]
        cron_schedule:
          type: string
          nullable: true
          example: "0 9 * * *"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        store_type:
          type: string
        icon:
          type: string
        icon_bg:
          type: string
        model:
          type: string
        status:
          type: string
        creator_login:
          type: string
        creator_avatar:
          type: string
        subscriber_count:
          type: integer

    Instance:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, canceled]
        created_at:
          type: string
          format: date-time
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        category:
          type: string
        icon:
          type: string
        icon_bg:
          type: string

    InstanceRuntime:
      type: object
      properties:
        instanceId:
          type: string
          format: uuid
        placement:
          type: string
          enum: [local, managed]
        endpointUrl:
          type: string
          format: uri
        capabilities:
          type: array
          items:
            type: string
          example: [browser.playwright, file.upload, human.approval]
        runnerVersion:
          type: string
        status:
          type: string
          enum: [registered, online, offline]
        lastSeenAt:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        hasToken:
          type: boolean

    RuntimeSetupTask:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          example: browser.open
        status:
          type: string
          enum: [queued, running, needs_human, needs_approval, blocked, completed, failed, cancelled]
        input:
          type: object
          additionalProperties: true
        output:
          type: object
          additionalProperties: true
        error:
          type: string
        requiresApproval:
          type: boolean
        approval:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        timestamp:
          type: string
          format: date-time

    KnowledgeDocument:
      type: object
      required: [title, content]
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        source:
          type: string
          example: manual
        sourceUrl:
          type: string
          format: uri

    AgentState:
      type: object
      properties:
        name:
          type: string
        personality:
          type: string
        goal:
          type: string
        model:
          type: string
        guardrails:
          type: object
        welcomeMessage:
          type: string

    Task:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
          enum: [pending, in_progress, done]
        created_at:
          type: string
          format: date-time

    Version:
      type: object
      properties:
        id:
          type: string
          format: uuid
        version_num:
          type: integer
        description:
          type: string
        created_at:
          type: string
          format: date-time

    DailyUsage:
      type: object
      properties:
        day:
          type: string
          format: date
        count:
          type: integer

    Execution:
      type: object
      properties:
        id:
          type: string
          format: uuid
        model:
          type: string
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        duration_ms:
          type: integer
        created_at:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        title:
          type: string
        body:
          type: string
        agent_id:
          type: string
          nullable: true
        read:
          type: integer
          enum: [0, 1]
        created_at:
          type: string
          format: date-time

    AgentCapabilities:
      type: object
      description: |
        What an agent IS, as data rather than scattered conditionals. Resolved from
        `agents.config.capabilities`; the console renders its tabs from `surfaces`, the CLI
        decides whether the agent needs `pags up` from `runtime`, and the runtime gates tool
        dispatch on `tools`.
      properties:
        surfaces:
          type: array
          description: Console surfaces this agent shows. Unknown values are dropped on write.
          items:
            type: string
            enum: [apply, coding, insurance, repo, tmux]
        runtime:
          type: string
          nullable: true
          description: The local-runner runtime the agent's brain drives. `null` means cloud-only — no `pags up` needed.
          enum: [browser, coding, null]
        workflow:
          type: string
          nullable: true
          description: Durable Workflow binding this agent's autonomous loop uses.
          enum: [JOB_APPLY, CODING_SESSION, INSURANCE_QUOTES, BROWSER_TASK, null]
        tools:
          type: array
          description: |
            Declared tool allowlist drawn from the platform tool catalog. When present it is
            AUTHORITATIVE — the agent gets exactly these plus the universal base facilities,
            replacing the surface-derived default. Absent means "use the surface default".
          items: { type: string }
        customSurfaces:
          type: array
          description: Agent-published console UIs the console loads dynamically. Max 8; `bundleUrl` must be https because it loads as code into the console origin.
          items:
            type: object
            properties:
              id: { type: string, description: "Lowercase slug; reserved ids are rejected.", pattern: "^[a-z][a-z0-9-]{0,31}$" }
              label: { type: string }
              icon: { type: string }
              bundleUrl: { type: string, format: uri }
              ownsHeader: { type: boolean, description: May this surface replace the page header while active. }

    SettingsField:
      type: object
      description: One typed setting a subscriber configures on their instance. Injected into the chat prompt as an authoritative `## Settings` block.
      required: [id, label, type]
      properties:
        id: { type: string }
        label: { type: string }
        description: { type: string }
        type:
          type: string
          enum: [select, text, number, toggle]
        options:
          type: array
          description: Required for (and only valid on) `select`.
          items:
            type: object
            required: [value, label]
            properties:
              value: { type: string }
              label: { type: string }
        default:
          description: Default value, matching the field's type.
          oneOf:
            - { type: string }
            - { type: number }
            - { type: boolean }
        voiceLanguage:
          type: boolean
          description: A select whose option values are BCP-47 tags. Saving it also sets the instance's voice language so STT/TTS follow.

    BoardColumn:
      type: object
      description: One kanban column on an instance's work board.
      required: [id, title]
      properties:
        id: { type: string }
        title: { type: string }
        color: { type: string, description: "CSS colour; unrecognised values fall back to `var(--accent)`." }
        statuses:
          type: array
          description: Runtime-task statuses that belong in this column.
          items: { type: string }
        catchAll: { type: boolean, description: Bucket for any status no other column claims. }

    VoiceSettings:
      type: object
      description: |
        Fully-resolved voice configuration for one instance — account defaults, then the
        per-instance override if present, then a declared `voiceLanguage` setting on top of
        the language. Unknown fields are rejected on write (`400`) rather than silently
        defaulted.
      additionalProperties: true
      properties:
        sttMode: { type: string, description: "`dictation` (browser Web Speech) or the Whisper/`gpt-4o-transcribe` path." }
        ttsProvider: { type: string, description: Browser SpeechSynthesis or OpenAI TTS. }
        ttsVoice: { type: string }
        ttsSpeed: { type: number }
        language: { type: string, description: BCP-47 tag driving STT and TTS. }
        commandsEnabled: { type: boolean, description: Whether spoken commands such as "repeat" are recognised. }

    TranslationConfig:
      type: object
      properties:
        enabled: { type: boolean }
        target: { type: string, description: "Target language name, validated against the supported list." }
        transliterate: { type: boolean, description: "Also return interlinear `[word, romanization]` pairs." }
        fontSize: { type: string, enum: [small, medium, large] }
        wordTap: { type: boolean, description: Tap a word to hear just it. }

    LoopPreset:
      type: object
      required: [id, label, objective]
      properties:
        id: { type: string, description: "Stable slug — what an edit is matched on." }
        label: { type: string, maxLength: 60, description: The button text. }
        objective: { type: string, description: What gets put in the objective box when it is pressed. }

    LoopPresets:
      type: object
      properties:
        presets:
          type: array
          items: { $ref: "#/components/schemas/LoopPreset" }
        source:
          type: string
          enum: [instance, agent, default]
          description: "Which layer these came from: the subscriber's own list, the creator template's, or the driver default."
        driver: { type: string, description: What this instance's loop actually drives. }

    Trigger:
      type: object
      properties:
        id: { type: string }
        userId: { type: string }
        agentId: { type: string }
        instanceId: { type: string }
        name: { type: string }
        type: { type: string, enum: [webhook, cron] }
        action: { type: string, description: "What running the trigger does (e.g. `create_task`, `run_pipeline`)." }
        enabled: { type: boolean }
        schedule: { type: string, nullable: true, description: Cron expression; `null` for webhook triggers. }
        config: { type: object, additionalProperties: true }
        unavailable:
          type: string
          nullable: true
          description: |
            Why this saved trigger can never run on this agent, or `null` when it can. A row wired
            to an action the agent's capabilities do not support (e.g. `run_browse` without
            `workflow: BROWSER_TASK`) is refused at create time now, but rows predating that gate
            exist — they are reported here rather than deleted or disabled, because a trigger the
            user wrote is theirs to remove.
        lastRunAt: { type: string, nullable: true }
        nextRunAt: { type: string, nullable: true }
        failureCount: { type: integer }
        lastError: { type: string, nullable: true }
        createdAt: { type: string }
        updatedAt: { type: string }
        webhookUrl:
          type: string
          format: uri
          description: Present only for webhook triggers. The token in this URL IS the credential — treat it as a secret.

    Provider:
      type: object
      properties:
        id:
          type: string
          example: openai
        name:
          type: string
          example: OpenAI
        docsUrl:
          type: string
          format: uri

paths:

  # ── Health ────────────────────────────────────────────────────────────────

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  service:
                    type: string

  # ── Auth ──────────────────────────────────────────────────────────────────

  /v1/auth/config:
    get:
      summary: Get OAuth config
      description: Returns ProAgentStore's own OAuth start URLs (Google + GitHub) and app ID for the console sign-in flow.
      operationId: getAuthConfig
      security: []
      tags: [Auth]
      responses:
        "200":
          description: OAuth configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_url:
                    type: string
                    format: uri
                  app_id:
                    type: string
                  response_mode:
                    type: string

  /v1/auth/github:
    post:
      summary: Direct GitHub OAuth exchange
      description: |
        Exchange a GitHub OAuth code for a PAGS token using ProAgentStore's own
        GitHub OAuth app. Most clients should use the redirect flow
        (`GET /v1/auth/github/start`) instead.
      operationId: githubAuth
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: GitHub OAuth authorization code
                return_to:
                  type: string
                  description: URL to redirect to after auth
      responses:
        "200":
          description: PAGS session token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: "#/components/schemas/User"
                  return_to:
                    type: string
        "401":
          description: OAuth failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "501":
          description: GitHub OAuth not configured on this server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/auth/me:
    get:
      summary: Get current user
      description: Verify the current session and return the authenticated user's profile.
      operationId: getMe
      tags: [Auth]
      responses:
        "200":
          description: Authenticated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Not authenticated or token expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update profile
      description: Update display name, bio, website, or Twitter handle.
      operationId: updateMe
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                bio:
                  type: string
                website:
                  type: string
                twitter:
                  type: string
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "400":
          description: Nothing to update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Agents ────────────────────────────────────────────────────────────────

  /v1/agents/my/agents:
    get:
      summary: List my agents
      description: List all agents owned by the authenticated user, ordered by last update.
      operationId: listMyAgents
      tags: [Agents]
      responses:
        "200":
          description: Owned agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents:
    get:
      summary: List published agents
      description: Browse published agents in the store. Filterable by category and sortable.
      operationId: listAgents
      security: []
      tags: [Agents]
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category slug
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, popular, name]
            default: newest
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Published agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentSummary"
    post:
      summary: Create agent
      description: Create a new agent. Requires the `creator` role. The agent is created as a draft.
      operationId: createAgent
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug:
                  type: string
                  pattern: "^[a-z0-9-]+$"
                  description: Unique URL-safe identifier
                name:
                  type: string
                description:
                  type: string
                category:
                  type: string
                  default: general
                icon:
                  type: string
                icon_bg:
                  type: string
                  example: "#7c3aed"
                model:
                  type: string
                  example: "@cf/meta/llama-3.2-3b-instruct"
                personality:
                  type: string
                  description: Initial personality prompt stored in the Durable Object
                goal:
                  type: string
                  description: Initial goal prompt stored in the Durable Object
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Creator role required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}:
    get:
      summary: Get agent
      description: |
        Get a single agent by ID or slug. Published agents are public.
        Draft agents are only visible to the owner or admins.
      operationId: getAgent
      security: []
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      responses:
        "200":
          description: Agent detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update agent
      description: Update agent metadata. Owner or admin only.
      operationId: updateAgent
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                category:
                  type: string
                icon:
                  type: string
                icon_bg:
                  type: string
                model:
                  type: string
                visibility:
                  type: string
                  enum: [draft, published]
                cron_schedule:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "400":
          description: Nothing to update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete agent
      description: Permanently delete an agent and all its executions/usage. Owner or admin only.
      operationId: deleteAgent
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID
      responses:
        "200":
          description: Agent deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/clone:
    post:
      summary: Clone agent
      description: Fork a published agent as a new draft. Copies state, personality, and knowledge base. Requires `creator` role.
      operationId: cloneAgent
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Source agent UUID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug:
                  type: string
                  pattern: "^[a-z0-9-]+$"
                  description: Slug for the cloned agent
      responses:
        "201":
          description: Clone created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  clonedFrom:
                    type: string
                    format: uuid
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Source agent not found or not published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Chat ──────────────────────────────────────────────────────────────────

  /v1/agents/{id}/chat:
    post:
      summary: Send message to agent
      description: Send a chat message to the template agent's Durable Object. Tracks usage.
      operationId: chatWithAgent
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
      responses:
        "200":
          description: Agent reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
        "400":
          description: message required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/ws-token:
    post:
      summary: Mint a chat WebSocket token
      description: |
        Call this with your ACCOUNT session in the `Authorization` header — where a 30-day
        credential belongs — and get back the short-lived token that `GET /v1/agents/{id}/ws`
        accepts. The token is scoped to this one agent and expires in minutes, so a leaked
        WebSocket URL is worth one agent's chat for minutes rather than the whole account
        for a month.

        This route, not `/ws`, is where authorization is decided: ownership (or admin) and
        the account-suspension gate are checked here. Mint a fresh token on every connect
        and reconnect.
      operationId: mintAgentChatToken
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      responses:
        "200":
          description: The chat token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  expiresAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/agents/{id}/ws:
    get:
      summary: WebSocket chat connection
      description: |
        Upgrade to a WebSocket connection for real-time chat with the agent's Durable Object.
        Must send `Upgrade: websocket` header.

        **Different credential.** This endpoint accepts ONLY the short-lived, agent-scoped
        token from `POST /v1/agents/{id}/ws-token`, passed as `?token=` — never the account
        session JWT, which is refused here with a 401. The browser `WebSocket` constructor
        takes no headers, so something has to ride in the URL, and a URL is the least private
        part of a request (history, `Referer`, proxy and CDN access logs, error reporters).
        Same reasoning, and same shape, as the runner's `/v1/relay/{instanceId}/connect`.

        Errors are plain-text HTTP, not JSON, because not every WebSocket client surfaces a
        JSON body.
      operationId: agentWebSocket
      tags: [Chat]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
        - name: token
          in: query
          required: true
          description: A chat token from `POST /v1/agents/{id}/ws-token`. An account session JWT is rejected here.
          schema:
            type: string
        - name: Upgrade
          in: header
          required: true
          schema:
            type: string
            enum: [websocket]
      responses:
        "101":
          description: WebSocket upgrade successful
        "401":
          description: "Missing, expired, or non-chat token — including an account session JWT (plain text)"
        "403":
          description: Token names another agent, ownership changed, or the account is suspended (plain text)
        "404":
          description: Agent not found (plain text)
        "426":
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/messages:
    get:
      summary: Get message history
      description: Retrieve the agent's conversation history from its Durable Object.
      operationId: getAgentMessages
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Message history
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"

  /v1/agents/{id}/memory:
    get:
      summary: Get agent memory
      operationId: getAgentMemory
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent memory entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  memory:
                    type: array
                    items:
                      type: object
    put:
      summary: Update agent memory
      operationId: updateAgentMemory
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Memory updated
          content:
            application/json:
              schema:
                type: object

  /v1/agents/{id}/tasks:
    get:
      summary: List agent tasks
      operationId: getAgentTasks
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
    post:
      summary: Create task
      operationId: createAgentTask
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                status:
                  type: string
                  enum: [pending, in_progress, done]
                  default: pending
      responses:
        "201":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

  /v1/agents/{id}/state:
    get:
      summary: Get agent DO state
      description: Retrieve the Durable Object state (identity, personality, guardrails, etc.)
      operationId: getAgentState
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentState"
    put:
      summary: Update agent DO state
      description: Overwrite the agent's Durable Object state fields.
      operationId: updateAgentState
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentState"
      responses:
        "200":
          description: State updated
          content:
            application/json:
              schema:
                type: object

  /v1/agents/{id}/knowledge:
    get:
      summary: List knowledge documents
      operationId: getAgentKnowledge
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Knowledge base documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/KnowledgeDocument"
    post:
      summary: Add knowledge document
      operationId: addAgentKnowledge
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeDocument"
      responses:
        "201":
          description: Document added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDocument"

  /v1/agents/{id}/knowledge/{docId}:
    delete:
      summary: Delete knowledge document
      operationId: deleteAgentKnowledge
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: docId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Document deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"

  /v1/agents/{id}/knowledge/ingest-url:
    post:
      summary: Ingest URL into knowledge base
      description: Fetches a URL and adds its content as a knowledge document.
      operationId: ingestAgentKnowledgeUrl
      tags: [Chat]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                title:
                  type: string
      responses:
        "201":
          description: URL ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDocument"

  # ── Run ───────────────────────────────────────────────────────────────────

  /v1/agents/{id}/run:
    post:
      summary: Execute agent via Workers AI
      description: Run the agent's model directly with a structured input. Logs execution and tracks usage for creator payouts.
      operationId: runAgent
      tags: [Run]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: object
                  description: Model-specific input (e.g. messages array for chat models)
      responses:
        "200":
          description: Execution result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    description: Raw Workers AI model output
                  executionId:
                    type: string
                    format: uuid
                  durationMs:
                    type: integer
        "400":
          description: input required or agent not active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/executions:
    get:
      summary: Get execution history
      description: List the authenticated user's execution history for a given agent.
      operationId: getAgentExecutions
      tags: [Run]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        "200":
          description: Execution list
          content:
            application/json:
              schema:
                type: object
                properties:
                  executions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Execution"

  # ── Analytics ─────────────────────────────────────────────────────────────

  /v1/agents/{id}/analytics:
    get:
      summary: Get agent analytics
      description: Per-agent usage stats. Owner or admin only.
      operationId: getAgentAnalytics
      tags: [Analytics]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribers:
                    type: integer
                  totalExecutions:
                    type: integer
                  totalChats:
                    type: integer
                  dailyUsage:
                    type: array
                    items:
                      $ref: "#/components/schemas/DailyUsage"
                  recentExecutions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Execution"
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Versions ──────────────────────────────────────────────────────────────

  /v1/agents/{id}/versions:
    get:
      summary: List versions
      description: List all version snapshots for an agent. Owner or admin only.
      operationId: listAgentVersions
      tags: [Versions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Version list
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Version"
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Save version snapshot
      description: Snapshot the current Durable Object state as a named version.
      operationId: createAgentVersion
      tags: [Versions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  example: "Added customer FAQ docs"
      responses:
        "201":
          description: Version saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  version:
                    type: integer
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/versions/{versionId}/rollback:
    post:
      summary: Rollback to version
      description: Restore the agent's Durable Object state to a previous snapshot.
      operationId: rollbackAgentVersion
      tags: [Versions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Rolled back successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  rolledBackTo:
                    type: string
                    format: uuid
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Export / Import ───────────────────────────────────────────────────────

  /v1/agents/{id}/export:
    get:
      summary: Export agent backup
      description: Download a full JSON backup of the agent's config, DO state, knowledge base, and memory.
      operationId: exportAgent
      tags: [Export]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent backup
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportVersion:
                    type: integer
                    example: 1
                  exportedAt:
                    type: string
                    format: date-time
                  agent:
                    type: object
                    properties:
                      slug:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      category:
                        type: string
                      storeType:
                        type: string
                      model:
                        type: string
                  state:
                    $ref: "#/components/schemas/AgentState"
                  knowledge:
                    type: array
                    items:
                      $ref: "#/components/schemas/KnowledgeDocument"
                  memory:
                    type: array
                    items:
                      type: object
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/agents/{id}/import:
    post:
      summary: Import agent backup
      description: Restore an agent from a JSON backup. Overwrites current state, knowledge, and memory.
      operationId: importAgent
      tags: [Export]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                exportVersion:
                  type: integer
                agent:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    category:
                      type: string
                    model:
                      type: string
                state:
                  $ref: "#/components/schemas/AgentState"
                knowledge:
                  type: array
                  items:
                    $ref: "#/components/schemas/KnowledgeDocument"
                memory:
                  type: array
                  items:
                    type: object
                    required: [key, type, content]
                    properties:
                      key:
                        type: string
                      type:
                        type: string
                      content:
                        type: string
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  restored:
                    type: object
                    properties:
                      knowledge:
                        type: integer
                      memory:
                        type: integer
                      state:
                        type: boolean
        "403":
          description: Not your agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Instances ─────────────────────────────────────────────────────────────

  /v1/instances/{agentId}/subscribe:
    post:
      summary: Subscribe to agent
      description: |
        Subscribe to a published agent. Creates a personal instance with its own
        Durable Object pre-seeded from the template agent's state and knowledge base.
        Also creates a subscription record and notifies the creator.
      operationId: subscribeToAgent
      tags: [Instances]
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent UUID or slug
      responses:
        "201":
          description: Instance created
          content:
            application/json:
              schema:
                type: object
                properties:
                  instanceId:
                    type: string
                    format: uuid
                  agentId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: active
        "404":
          description: Agent not found or not published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already subscribed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/my/instances:
    get:
      summary: List my instances
      description: List all agent instances the authenticated user is subscribed to.
      operationId: listMyInstances
      tags: [Instances]
      responses:
        "200":
          description: Subscribed instances
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      $ref: "#/components/schemas/Instance"

  /v1/instances/{instanceId}/chat:
    post:
      summary: Chat with my instance
      description: Send a message to the user's personal instance Durable Object.
      operationId: chatWithInstance
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
      responses:
        "200":
          description: Agent reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
        "400":
          description: message required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/messages:
    get:
      summary: Get instance messages
      operationId: getInstanceMessages
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Message history
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Clear the chat
      description: |
        Deletes messages, conversation summaries, extracted facts and message vectors in the
        Durable Object, and — best-effort, after the clear — the corresponding voice recordings
        in R2. The deletion is keyed off the returned audio keys, not an R2 prefix sweep: the
        Coder Co-pilot's recordings share the same prefix, and a prefix delete would destroy
        them while their timeline rows survived.
      operationId: clearInstanceMessages
      tags: [Instances]
      parameters: [{ $ref: "#/components/parameters/InstanceId" }]
      responses:
        "200":
          description: Cleared
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  audioKeys:
                    type: array
                    description: The voice recordings that were removed alongside the transcripts.
                    items: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/instances/{instanceId}/messages/{messageId}:
    delete:
      summary: Delete one turn
      description: |
        Deletes the EXCHANGE containing this message — the user's message, the agent's reply and
        the tool-log system message written with it — not the single line pointed at. An assistant
        or tool message resolves back to the ask it answered; the span ends at the next user
        message. The voice recording (`audioKey`) and the live dictation stored on each message go
        with them, so a transcript and its audio have one retention rule whether you clear the
        whole conversation or a single turn.

        Deleting a turn does NOT undo what the turn did. Tool calls, memory writes, tickets and
        runs it started all persist, and conversation summaries already computed over it are
        aggregates that cannot be un-mixed. The deleted turn is absent from the model's context on
        the next request, which is the point: a noise message stops shaping later replies.
      operationId: deleteInstanceTurn
      tags: [Instances]
      parameters:
        - { $ref: "#/components/parameters/InstanceId" }
        - name: messageId
          in: path
          required: true
          description: Any message in the turn — the user's, the reply, or the tool log.
          schema: { type: string }
      responses:
        "200":
          description: Turn deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer
                    description: How many messages the turn contained.
                  ids:
                    type: array
                    description: The message ids actually removed — the server's span, not the caller's guess.
                    items: { type: string }
                  audioKeys:
                    type: array
                    description: The voice recordings removed alongside the transcripts.
                    items: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No message with that id in this instance's log (or the instance is not yours).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/knowledge:
    get:
      summary: Get instance knowledge base
      operationId: getInstanceKnowledge
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Knowledge documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/KnowledgeDocument"
    post:
      summary: Add document to instance knowledge base
      operationId: addInstanceKnowledge
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeDocument"
      responses:
        "201":
          description: Document added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDocument"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/knowledge/{docId}:
    get:
      summary: Read one knowledge document
      description: The full content, for the console viewer and editor.
      operationId: getInstanceKnowledgeDoc
      tags: [Instances]
      parameters:
        - { $ref: "#/components/parameters/InstanceId" }
        - { name: docId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KnowledgeDocument" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      summary: Edit a knowledge document
      description: Re-vectorizes the document after the edit.
      operationId: updateInstanceKnowledgeDoc
      tags: [Instances]
      parameters:
        - { $ref: "#/components/parameters/InstanceId" }
        - { name: docId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                content: { type: string }
      responses:
        "200":
          description: The updated document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KnowledgeDocument" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      summary: Delete document from instance knowledge base
      operationId: deleteInstanceKnowledge
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Document deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/knowledge/ingest-url:
    post:
      summary: Ingest URL into instance knowledge base
      operationId: ingestInstanceKnowledgeUrl
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                title:
                  type: string
      responses:
        "201":
          description: URL ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDocument"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/cancel:
    post:
      summary: Cancel subscription
      description: Deactivate the instance and mark the subscription as canceled.
      operationId: cancelInstance
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Subscription canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/runtime:
    post:
      summary: Register ProAgentStore browser runtime
      description: |
        Register or update the ProAgentStore browser runtime endpoint used by
        this PAGS instance. PAGS remains the control plane and stores the runtime
        token without exposing it in responses.
      operationId: registerInstanceRuntime
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointUrl]
              properties:
                endpointUrl:
                  type: string
                  format: uri
                  description: HTTPS URL for managed runtimes, or localhost HTTP for development.
                token:
                  type: string
                  description: Bearer token configured on the ProAgentStore runtime.
                placement:
                  type: string
                  enum: [local, managed]
                  default: local
                capabilities:
                  type: array
                  items:
                    type: string
                  example: [browser.playwright, file.upload, human.approval]
                runnerVersion:
                  type: string
      responses:
        "201":
          description: Runtime registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  runtime:
                    $ref: "#/components/schemas/InstanceRuntime"
        "400":
          description: Invalid runtime registration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: Get registered ProAgentStore browser runtime
      operationId: getInstanceRuntime
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Runtime registration, or null when no runtime is registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  runtime:
                    anyOf:
                      - $ref: "#/components/schemas/InstanceRuntime"
                      - type: "null"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Remove registered ProAgentStore browser runtime
      operationId: deleteInstanceRuntime
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Runtime removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "404":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/runtime/heartbeat:
    post:
      summary: Mark ProAgentStore browser runtime online
      operationId: heartbeatInstanceRuntime
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Runtime marked online
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    example: online
        "404":
          description: Instance or runtime not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/runtime/status:
    get:
      summary: Probe ProAgentStore browser runtime status
      description: Calls the registered runtime's `/health` and `/capabilities` endpoints through PAGS.
      operationId: getInstanceRuntimeStatus
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Runtime is reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  runtime:
                    $ref: "#/components/schemas/InstanceRuntime"
                  health:
                    type: object
                    additionalProperties: true
                  capabilities:
                    type: object
                    additionalProperties: true
        "502":
          description: Registered runtime could not be reached
          content:
            application/json:
              schema:
                type: object
                properties:
                  runtime:
                    $ref: "#/components/schemas/InstanceRuntime"
                  error:
                    type: string
        "404":
          description: Instance or runtime not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/tasks:
    get:
      summary: List ProAgentStore runtime tasks
      operationId: listInstanceRuntimeTasks
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tasks from the registered ProAgentStore runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: "#/components/schemas/RuntimeSetupTask"
        "404":
          description: Instance or runtime not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create ProAgentStore runtime task
      description: |
        Create a browser/file task on the registered ProAgentStore runtime. PAGS forces
        human approval for sensitive task types such as `browser.open`. Workflow-driven
        tasks such as `job.apply_agent` are driven by their durable workflow brain.
      operationId: createInstanceRuntimeTask
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  example: browser.open
                input:
                  type: object
                  additionalProperties: true
                requiresApproval:
                  type: boolean
                approvalPrompt:
                  type: string
      responses:
        "202":
          description: Task accepted by ProAgentStore runtime
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuntimeSetupTask"
        "400":
          description: Invalid task request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Instance or runtime not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/tasks/{taskId}:
    get:
      summary: Get ProAgentStore runtime task
      operationId: getInstanceRuntimeTask
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task from the registered ProAgentStore runtime
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuntimeSetupTask"
        "404":
          description: Instance, runtime, or task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a ticket
      description: |
        Best-effort cancels the task on the LIVE machine, then drops it from the board.
        Deliberately routed to the connected node rather than the default registration row,
        which is not cleared on disconnect — otherwise the cancel could be posted at a machine
        that is gone while the task kept running on the one actually connected, and the board
        would hide it anyway.
      operationId: deleteInstanceRuntimeTask
      tags: [Board]
      parameters:
        - { $ref: "#/components/parameters/InstanceId" }
        - { name: taskId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/instances/{instanceId}/tasks/{taskId}/approve:
    post:
      summary: Approve ProAgentStore runtime task
      operationId: approveInstanceRuntimeTask
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Approved task
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuntimeSetupTask"
        "404":
          description: Instance, runtime, or task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/tasks/{taskId}/cancel:
    post:
      summary: Cancel ProAgentStore runtime task
      operationId: cancelInstanceRuntimeTask
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cancelled task
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuntimeSetupTask"
        "404":
          description: Instance, runtime, or task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/instances/{instanceId}/task-events:
    get:
      summary: List ProAgentStore runtime task events
      operationId: listInstanceRuntimeTaskEvents
      tags: [Instances]
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Recent runtime task events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "404":
          description: Instance or runtime not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Keys ──────────────────────────────────────────────────────────────────

  /v1/keys/providers:
    get:
      summary: List supported AI providers
      description: Returns all AI providers supported by the key vault and proxy (public).
      operationId: listProviders
      security: []
      tags: [Keys]
      responses:
        "200":
          description: Provider list
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Provider"

  /v1/keys/status:
    get:
      summary: Get my key status
      description: Shows which providers the authenticated user has stored keys for.
      operationId: getKeyStatus
      tags: [Keys]
      responses:
        "200":
          description: Key status per provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        hasKey:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                          nullable: true
                        lastUsedAt:
                          type: string
                          format: date-time
                          nullable: true

  /v1/keys/{provider}:
    put:
      summary: Store API key
      description: Encrypt and store an API key for the given provider. Cloudflare Workers AI also requires accountId so inference bills to the user's Cloudflare account.
      operationId: storeKey
      tags: [Keys]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [openai, anthropic, google, openrouter, groq, together, cloudflare]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key]
              properties:
                key:
                  type: string
                  description: The raw API key or token (stored encrypted with AES-256-GCM)
                accountId:
                  type: string
                  description: Required for provider=cloudflare. Cloudflare account ID used for Workers AI billing.
      responses:
        "200":
          description: Key stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
        "400":
          description: Unknown provider or invalid key format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete API key
      description: Remove the stored key for a provider.
      operationId: deleteKey
      tags: [Keys]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Key deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"

  /v1/keys/proxy/{host}/{path}:
    post:
      summary: Proxy AI API call
      description: |
        Inject the user's stored key and forward the request to an upstream AI provider.
        The `host` segment identifies the provider (e.g. `api.openai.com`).
        Everything after the host becomes the upstream path.

        Example: `POST /v1/keys/proxy/api.openai.com/v1/chat/completions`

        Rate limit: 100 calls/hour per user.
      operationId: proxyAiCall
      tags: [Keys]
      parameters:
        - name: host
          in: path
          required: true
          schema:
            type: string
          example: api.openai.com
          description: Upstream AI API host
        - name: path
          in: path
          required: true
          schema:
            type: string
          example: v1/chat/completions
          description: Path on the upstream API
      requestBody:
        description: Request body forwarded verbatim to the upstream API
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Upstream API response forwarded
        "400":
          description: Unsupported host or no key stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded (100 calls/hour)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Dashboard ─────────────────────────────────────────────────────────────

  /v1/dashboard/usage:
    get:
      summary: Subscriber usage dashboard
      description: Aggregate usage stats for the authenticated user across all their agent instances.
      operationId: getDashboardUsage
      tags: [Dashboard]
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeInstances:
                    type: integer
                  totalChats:
                    type: integer
                  totalExecutions:
                    type: integer
                  dailyUsage:
                    type: array
                    items:
[...]
